<form action="/auth/home" method="post"></form>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" href="css/stylehome.css">
</head>
  <body>
    <!--Navigasi -->
    <div id="main-screen">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <div class="container">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Me</a>
              </li>
            </ul>

            <ul class="navbar-nav d-flex">
              <li class="nav-item">
                <a class="nav-link" href="/auth/register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
 <!--Navigasi -->
      <div class="text-center text-white highlight-text">
        <h1 class="text-uppercase fw-bold mb-4">Play Traditional Game</h1>
        <p class="mb-5">Experience New Traditional Game Play</p>
        <a href="/login"><button type="button" class="btn btn-warning text-uppercase fw-bold">Play Now</button></a>
      </div>
      <div class="text-center text-white highlight-text">
        <h6 class="text-uppercase">the story</h6>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
          </svg>
        </div>
       </div>
     </div>

<!-- about + gallery -->
  <div id="about">
    <div class="container">
      <div class="row">
      <div class="col-4">
        <p>What's so special ?</p>
        <h2>The Games</h2>
        </div>
        <div class="col-8">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<!-- Features -->
<div class="Features">
  <div class="container">
    <div class="row">
          <div class="col-md-4 offset-md-8"><h4>What's so special?</h4></div>
          <div class="col-md-4 offset-md-8"><h1>Features</h1></div>
          <div class="col-md-4 offset-md-4"><h5>traditional games</h5></div>
          <div class="col-md-4 offset-md-4 mb-3"><h6>If you miss your childhood, we provide <br> many traditional games here</h6></div>
          <div class="game col-md-4 offset-md-4 mb-3"><h5>game suit</h5></div>
          <div class="tbd col-md-4 offset-md-4 mb-3"><h6>tbd</h6></div>
        </div>
      </div>
    </div>

<!-- Requirements -->
<div class="requirements">
<div class="question">
  <h5>Can My Computer Run this game?</h5>
</div>
<div class="system">
  <h1>System <br>Requirements</h1>
</div>
<div class="table">
</div>
<div class="vector1"> </div>
<div class="vector2"> </div>
<div class="vector3"> </div>  
<div class="os">OS:
  <h4>Windows 7 64-bit only (No OSX support at this time)</h4>
</div>
<div class="processor">PROCESSOR:
  <h4>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ </h4>
</div>
<div class="memory">mEMORY:
  <h4>4 GB RAM</h4>
</div>
<div class="storage">storage:
  <h4>8 GB available space</h4>
</div>
<div class="graphics">GRAPHICS:
  <h4>NVIDIA GeForce GTX 660 2GB or 
    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
</div>
</div>

<!-- quotes -->
  <div id="quotes">
    <div class="col">
      <div class="row">
        <div class="col-lg-4 offset-lg-1">
        <div class="top-score mb-3">TOP SCORES
        <h5 class="mb-4">This top score from various games provided on this platform</h5>
        <button type="button" class="btn btn-primary fw-bold">see more</button>
      </div>
        <div class="col">
          <div class="row">
          <div class="rectangle1 col-lg-9 offset-lg-3 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 65 65" fill="none">
              <circle cx="32.3873" cy="32.5696" r="32.1531" fill="#FFB548"/>
              </svg>
            <img src="/images/evan-lahti.jpg" alt="">
            <h4>Evan Lahti</h4>
            <h5>PC Gamer</h5>
            <p>“One of my gaming highlights of the year.”</p>
            <h6>June 18, 2021</h6>
          <div class="path1">
            <svg class="lathi" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
              </svg>
          </div>
          </div>
          <div class="rectangle2 col-lg-9 offset-lg-3 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 65 65" fill="none">
              <circle cx="32.3873" cy="32.5696" r="32.1531" fill="#FFB548"/>
              </svg>
            <img src="/images/jada-griffin.jpg" alt="">
            <h4>Jada Griffin</h4>
            <h5>Nerdreactor</h5>
            <p>“The next big thing in the world of streaming and survival games.”</p>
            <h6>July 10, 2021</h6>
            <div class="path2">
              <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
            </div>
          </div>
          <div class="rectangle3 col-lg-9 offset-lg-3 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 65 65" fill="none">
              <circle cx="32.3873" cy="32.5696" r="32.1531" fill="#FFB548"/>
              </svg>
            <img src="/images/aaron-williams.jpg" alt="">
            <h4>Aaron Williams </h4>
            <h5>Uproxx</h5>
            <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
            <h6>December 24, 2018</h6>
            <div class="path3">
              <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="rectangle">
      <div class="images"></div>
        <h3>Want to stay in <br> 
            touch?</h3>
          <h1>newsletter SUBSCRIBE </h1>
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
    </div>
        <div class="box">
        <h6>Your email address</h6>
        <p>youremail@binar.co,id</p>
        <button type="button" class="btn btn-primary fw-bold">Subscribe now</button>
      </div>
      <div class="footer">
      <div class="d-flex justify-content-evenly">
        <div class="p-2">Main</div>
        <div class="p-2">About</div>
        <div class="p-2">Game Features</div>
        <div class="p-2">System Requirements</div>
        <div class="p-2">Quotes</div>
        <div class="p-2"><img src="/images/facebook.png" alt=""></div>
        <div class="p-2"><img src="/images/twitter.png" alt=""></div>
        <div class="p-2"><img src="/images/Vector.png" alt=""></div>
        <div class="p-2"><img src="/images/twitch.svg" alt=""></div>
      </div>
      <div class="vector4"></div>
      <div class="d-flex justify-content-between">
        <div class="p-3">© 2018 Your Games, Inc. All Rights Reserved</div>
        <div class="p-4">Privacy Policy | Terms of Services | Code of Conduct</div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
    crossorigin="anonymous"></script>
</body>
</html>