body {
    font-family: sans-serif;
    display: flex;
    background: url('/images/puzzle.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    width: 22%;
    height: 80%;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(15, 194, 179, 0.738);
}

.register {
    text-align: center;
    padding-top: 25px;
    text-align: start;
}

.register h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}


.form input, button, label{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    text-align: start;
    font-family: Arial;
    border-radius: 7px;
}

.form label{
    color: white;
}

.form #check{
    height: 20px;
}

.form #label{
    text-align: center;
}




